
body {
    background: url("../images/background.jpg");
    background-size: 1280px 600px;
}
    h1{
        font-family: 'Montez', cursive;
        margin:0;
        color:darkblue;
    }
    h5{
        font-family:'Ubuntu Mono';
        font-size: small;
        margin-top:0;
        word-spacing : 11px;
        font-weight:normal;
    }

